In [10]:
#store name, marks in english , math and science for 10 students and print them
name = []
marks = [[], [], []]
for i in range(2):
    name.append(input("Enter your name: "))
    for i, mark in enumerate(marks):
        mark.append(input(f"Enter marks in sub{i}"))

In [11]:
name

['AMan', 'Anish']

In [12]:
marks

[['90', '99'], ['80', '99'], ['99', '99']]

In [41]:
for i in range(2):
    print(f"Name = {name[i]}")
    for j, mark in enumerate(marks[i]):
        print(f"Marks in sub {j+1} = {mark}")
    print()

Name = AMan
Marks in sub 1 = 90
Marks in sub 2 = 99

Name = Anish
Marks in sub 1 = 80
Marks in sub 2 = 99

In [13]:
#Tuple
#immutable list


#problem in list

first_list = [1, 2, 3]
second_list = first_list
first_list[0]=4
second_list #change in second list that we don't want

[4, 2, 3]

In [14]:
tup = (1, 2, 3)
del tup

In [15]:
tup = 1, 2, 3
a, b, c = tup
a, b

(1, 2)

In [20]:
tup

(1, 2, 3)

In [24]:
a, *b= tup
a, b

(1, [2, 3])

In [31]:
dict = {"name":"Aman", "marks":(80, 70, 90)}

In [33]:
dict["marks"]

(80, 70, 90)

In [34]:
dict = {(8848 ,2228):"88"}
dict[(8848 ,2228)]

'88'

In [36]:
# list_dict = {[1, 2, 3]: "numbers"}
# list_dict([1, 2,3])

#we cannot use list as key

In [45]:
nested_dict = {
    "name":"Anna",
    "marks":{
        "English":90, 
        "maths":{
            "Compuslary": 95,
            "Optional": 92

        }
    }
}
nested_dict

{'name': 'Anna',
 'marks': {'English': 90, 'maths': {'Compuslary': 95, 'Optional': 92}}}

In [44]:
nested_dict["marks"]["maths"]["Optional"]

92

In [60]:
nested_dict.keys()

dict_keys(['name', 'marks'])

In [61]:
nested_dict.values()

dict_values(['Anna', {'English': 90, 'maths': {'Compuslary': 95, 'Optional': 92}}])

In [62]:
nested_dict.items()

dict_items([('name', 'Anna'), ('marks', {'English': 90, 'maths': {'Compuslary': 95, 'Optional': 92}})])

In [66]:
nested_dict["marks"].keys()

dict_keys(['English', 'maths'])

In [68]:
first_dict = {"Aman": "Student"}
second_dict={"Ram": "Scientist"}
first_dict.update(second_dict)
first_dict

{'Aman': 'Student', 'Ram': 'Scientist'}

In [69]:
num_dict = {
    "a": 1, "b": 2, "c":3
}

In [84]:
for i in num_dict.keys():
    print("keys:", i, end=' ')
    print("values:",num_dict[i])

keys: a values: 1
keys: b values: 2
keys: c values: 3

In [88]:
for i, j in num_dict.items():
    print("keys:", i, " values:", j)

keys: a  values: 1
keys: b  values: 2
keys: c  values: 3