In [38]:
#1
emp_list = []
emp_tuple = ()
emp_dict = {}
emp_set = set()
tup = (1,)

In [41]:
#2
con_tuple = tuple(emp_list)
con_set = set(emp_list)
con_list= list(emp_tuple)
tuple_set = set(emp_tuple)
set_list = list(emp_set)
set_tuple = tuple(emp_set)

In [46]:
#3
type([(1,2), (2, 3), (3, 4)][0])
mix = [(1,2), (2,3), (3,4)]
dict(mix)

{1: 2, 2: 3, 3: 4}

In [70]:
#4
l = [1,3,1,2,5]
c=0
for n,i in enumerate(l):
    if i in l[n+1:]:
        print(i)
        c=1
        break
if c==0:
    print("None")

1

In [66]:
l = [1,3,1,2,5]
for i in l:
    if l.count(i)>1:
        print(i)
        break

1

In [69]:
#5
l = [1, 2, 3, 1, 2, 3, 1, 2, 1]
d = {}
for i in l:
    if i in d:
        d[i] += 1
    else:
        d[i] = 1
d

{1: 4, 2: 3, 3: 2}

In [3]:
#6
temp_l = [1, 1, 2, 3, 2, 3, 1, 3]
rem=[]
rem = [n for n, i in enumerate(temp_l) if i in temp_l[n+1:]]

for i in range(len(temp_l), -1, -1):
    if i in rem:
        del temp_l[i]
        
      
temp_l

[2, 1, 3]

In [9]:
#7
fruits = {'apple', 'banana', 'cherry'}
if 'banana' in fruits:
    print("banana is present")
    
if 'berry' in fruits:
    print("Berry is present")
else:
    print("berry is not present")
    
fruits.add('orange')
print(fruits)

fruits.remove('banana')
print(fruits)

banana is present
berry is not present
{'banana', 'apple', 'orange', 'cherry'}
{'apple', 'orange', 'cherry'}

In [20]:
#8
set1 = {1, 2, 3, 4}
set2 = {2, 3, 5}

union = set1.union(set2)
intersection = set1.intersection(set2)
diff = set1.difference(set2)

print(union, intersection, diff)

if (set1.issubset(set2)):
    print("set1 is subset of set2")
else:
    print("set1 is not subset of set2")
    
if (set2.issuperset(set1)):
    print("set2 is superset of set1")
else:
    print("set2 is not superset of set1")

{1, 2, 3, 4, 5} {2, 3} {1, 4}
set1 is not subset of set2
set2 is not superset of set1

In [19]:
#9
set1 = {1, 2}
set2 = {1, 2, 3, 4}
if (set1.issubset(set2)):
    print("set1 is subset of set2")
else:
    print("set1 is not subset of set2")
    
if (set2.issuperset(set1)):
    print("set2 is superset of set1")
else:
    print("set2 is not superset of set1")

set1 is subset of set2
set2 is superset of set1

In [26]:
#10
data = {
"company": {
"name": "TechCorp",
"employees": [
{
"id": 1,
"name": "Alice",
"department": "Development",
"skills": ["Python", "Django", "React"],
"salary": 75000
},
{
"id": 2,
"name": "Bob",
"department": "Development",
"skills": ["Java", "Spring", "Angular"],
"salary": 70000
},
{
"id": 3,
"name": "Charlie",
"department": "Marketing",
"skills": ["SEO", "Content Writing"],
"salary": 60000
}
],
"location": {
"city": "New York",
"country": "USA"
},
"products": [
{"id": "P1", "name": "ProductA", "price": 120.50},
{"id": "P2", "name": "ProductB", "price": 80.75}
]
}
}
import json
file = open('first.json', 'w')
json.dump(data, file)
file.close()

In [91]:
#11
file = open('first.json', 'r')
loaded_data=json.load(file)
file.close()


from datetime import datetime
loaded_data['last_updated'] = datetime.now().strftime('%c')


loaded_data['company']['employees'].append({'id': 4, 'name':'4th employee', 'skills':['Python'], 'salary': 60000})

for employee in loaded_data['company']['employees']:
    employee['salary']+=0.1*employee['salary']

python_skilled = [employee['name'] for employee in loaded_data['company']['employees'] if 'Python' in employee['skills']]

print("person skilled in Python: ", python_skilled)

print(loaded_data)

file = open('second.json', 'w')
json.dump(loaded_data, file)
file.close()

person skilled in Python:  ['Alice', '4th employee']
{'company': {'name': 'TechCorp', 'employees': [{'id': 1, 'name': 'Alice', 'department': 'Development', 'skills': ['Python', 'Django', 'React'], 'salary': 82500.0}, {'id': 2, 'name': 'Bob', 'department': 'Development', 'skills': ['Java', 'Spring', 'Angular'], 'salary': 77000.0}, {'id': 3, 'name': 'Charlie', 'department': 'Marketing', 'skills': ['SEO', 'Content Writing'], 'salary': 66000.0}, {'id': 4, 'name': '4th employee', 'skills': ['Python'], 'salary': 66000.0}], 'location': {'city': 'New York', 'country': 'USA'}, 'products': [{'id': 'P1', 'name': 'ProductA', 'price': 120.5}, {'id': 'P2', 'name': 'ProductB', 'price': 80.75}]}, 'last_updated': 'Thu Jan  9 08:30:48 2025'}

In [94]:
#12
squares = [n*n for n in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [96]:
#13
numbers = [1,2, 3, 4, 5, 6, 7, 8, 9, 10]
even = [n for n in numbers if n%2==0]
even

[2, 4, 6, 8, 10]

In [9]:
#14
dict2 = {n:pow(n, 3) for n in range(1, 6)}
dict2

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [108]:
#15
sentence = "comprehensions are powerful"
vowels = {ch for ch in sentence if ch in ['a', 'e', 'i', 'o', 'u']}
vowels # set will arrange the data and also remove the duplicated data

{'a', 'e', 'i', 'o', 'u'}

In [8]:
#16
students = {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 63}
high_scorers = {student:value for student, value in zip(students, students.values()) if value>80 }
high_scorers

{'Alice': 85, 'Charlie': 92}

In [56]:
#17
list1 = [1, 2, 3]
list2 = [4, 5, 6]

#using list comprehension
tup1 =[(list1[i], list2[i]) for i in range (len(list1))]
print(tup1)
#using zip
tup2= list(zip(list1, list2))
print(tup2)

[(1, 4), (2, 5), (3, 6)]
[(1, 4), (2, 5), (3, 6)]