In [4]:
#Q.10-01
l1 = ['I like', 'I love']
l2 = ['pancake.', 'kiwi juice.', 'espresso.']

for i in l1:
    for j in l2:
        print(i, j)

I like pancake.
I like kiwi juice.
I like espresso.
I love pancake.
I love kiwi juice.
I love espresso.

In [5]:
#Q.11-01
person= {'Name' : 'David Doe', 'Age' :26, 'Weight' : 82, 'Job':'Data scientist'}
person.update({'Father':'John Doe'})
print(person)

{'Name': 'David Doe', 'Age': 26, 'Weight': 82, 'Job': 'Data scientist', 'Father': 'John Doe'}

In [7]:
#Q.12-01
lst = [5, 6, 3, 9, 2, 12, 3, 8, 7]

for i, data in enumerate(lst):
    if data == max(lst):
        lst[i], lst[-1] = lst[-1], lst[i]
        break

print(lst)

[5, 6, 3, 9, 2, 7, 3, 8, 12]

In [9]:
#Q.13-01
a = [[1, 2], [3, 4], [5, 6]]
new_a = [i for l in a for i in l]
print(new_a)

[1, 2, 3, 4, 5, 6]

In [10]:
#Q.14-01
maria = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}
average = sum(maria.values())/len(maria)
print(average)

89.25

In [22]:
#Q.15-01
from copy import deepcopy
school = {'kim': {'age': 16, 'hei': 170, 'grade':3}, 
          'lee': {'age': 15, 'hei': 168, 'grade':2},
          'choi': {'age': 14, 'hei': 173, 'grade':1}}
school2 = deepcopy(school)
print (school is school2)

False

In [50]:
#Q.16-01
scores = (('Hyun', 88, 95, 90), ('Kang', 85, 90, 95), ('Park', 70, 90, 80), ('Hong', 90, 90, 95))

names, english, math , science = zip(*scores)

math_avg = sum(math)/len(math)
print(math_avg)

91.25