# Pair Programming Chapter 3

### Unit 17

Let the user input three integers a, b, and c. And print the average, maximum, and minimum values of these three
numbers as follows. In this case, mean3(a, b, c), max3(a, b, c), min3(a, b, c) that takes three numbers as
parameters and returns the average, maximum, and minimum values of these three numbers. Define and call
each function.

In [12]:
def mean3(a, b, c):
    return (a + b + c) / 3

def max3(a, b, c):
    return max(a, b, c)

def min3(a, b, c):
    return min(a, b, c)

# User input
a, b, c = map(int, input("Enter three numbers: ").split())
print(f"The average of {a}, {b}, {c} is: {mean3(a, b, c)}")
print(f"The maximum of {a}, {b}, {c} is: {max3(a, b, c)}")
print(f"The minimum of {a}, {b}, {c} is: {min3(a, b, c)}")

The average value of 9,2 and 6 is 5.666666666666667.
The maximum value of 9,2 and 6 is 9
The minimum value of 9,2 and 6 is 2

### Unit 18

The natural number e, also called Euler's number or Napier's constant, is an irrational number used as the
base of the natural logarithm. It is defined by the following formula.
( e = 1 + 1/1! + 1/2! + 1/3! + ..... + 1/n! )
In this formula, let k! be defined as a function named factorial(k). Also, let's define a function called euler(n)
that returns the sum of 1/0! + 1/1! to 1/n! Find the value of euler(20) to five decimal places and output it as
follows. (You must use a recursive function.)

In [2]:
def factorial(k):
    if k == 0 or k == 1:
        return 1
    return k * factorial(k - 1)

def euler(n):
    return sum(1 / factorial(i) for i in range(n + 1))

print(f"Euler(20) = {round(euler(20), 5)}")

Euler(20) = 2.71828

## Unit 19

If you treat students’ scores of English, math, and science exams as list of three elements, it can be
expressed as a list such as [100, 90, 95]. If there are two students, their scores can be expressed as [100, 90,
95, 90, 85, 93]. If a student did not apply to the exam of a certain subject, denote that score as 0. Print how
many students’ scores are contained in the given scores list, the number of students with valid scores for all
subjects (that is students with no 0 for all subject), and the scores of students with only valid scores.

In [11]:
scores=[100,90,95,90,80,70,0,80,90,90,0,90,100,75,20,30,50,90]
scores_new=[]
count=0
for i in range(0,len(scores),3):
    list_=[]
    for j in range(3):
        list_.append(scores[i+j])
    scores_new.append(list_)
    count+=1
scores_new=[elements for elements in scores_new if 0 not in elements]
print(f"The number of total students is {count}.")
print(f"the number of students with valid scores is {len(scores_new)}.")
print(scores_new)

The number of total students is 6.
the number of students with valid scores is 4.
[[100, 90, 95], [90, 80, 70], [100, 75, 20], [30, 50, 90]]

## Unit 20

Extract list result from list lst which has values of 1 ~ 100. list result has elements of list lst that are divisible
by 5 or 7. Declare func1(a) function and nest func2 and func3 function. Then, call the two functions in func1 function and print number divisible by 5 or 7. Here
align the values by using sort function.

In [7]:
def func1(a):
    def func2():
        result1=[i for i in a if i%5==0]
        return result1
    def func3():
        result2=[i for i in a if i%7==0]
        return result2
    list_result=func2()+func3()
    return sorted(list_result)

a=[i for i in range(1,101)]
print(func1(a))

[5, 7, 10, 14, 15, 20, 21, 25, 28, 30, 35, 35, 40, 42, 45, 49, 50, 55, 56, 60, 63, 65, 70, 70, 75, 77, 80, 84, 85, 90, 91, 95, 98, 100]

## Unit 21

Construct class Student that has following functionalities.
This student took quizzes for English, mathematics and science, and the quiz scores are given as inputs.
Generate instances by using this class. This class has the following attributes and actions.

In [4]:
class Student:
    def __init__(self, name, student_id):
        self.name = name
        self.student_id = student_id
        self.eng_quiz = 0
        self.math_quiz = 0
        self.science_quiz = 0

    def set_eng_quiz(self, score):
        self.eng_quiz = score

    def set_math_quiz(self, score):
        self.math_quiz = score

    def set_science_quiz(self, score):
        self.science_quiz = score

    def get_total_score(self):
        return self.eng_quiz + self.math_quiz + self.science_quiz

    def get_avg_score(self):
        return self.get_total_score() / 3

name = input("Enter the student's name: ")
student_id = input("Enter the student's ID: ")
student = Student(name, student_id)
student.set_eng_quiz(int(input("Enter the student's English quiz score: ")))
student.set_math_quiz(int(input("Enter the student's Mathematics quiz score: ")))
student.set_science_quiz(int(input("Enter the student's Science quiz score: ")))

print(f"Name: {student.name}, ID: {student.student_id}")
print(f"English Quiz Score: {student.eng_quiz}, Mathematics Quiz Score: {student.math_quiz}, Science Quiz Score: {student.science_quiz}")
print(f"Total: {student.get_total_score()}, Average: {student.get_avg_score():.2f}")

Name: Aman Dhaubanjar, ID: 010
English Quiz Score: 98, Mathematics Quiz Score: 99, Science Quiz Score: 100
Total: 297, Average: 99.00